btn-delete {
    left: 0;
}

a.btn.btn-danger.position-absolute.btn-delete {
    right: 5px;
    margin: 0px auto;
    height: 35px;
    box-sizing: border-box;
    top: 4px;
}


.slick-slider.custom img{
    height: 400px;
    object-fit: contain;
}

.slick-slider img{
    height: 100% ;

}
.single-item {
    background: #fefefe;
    border: 1px solid #ccc;
    border-radius: 5px;
}

