btn-delete {
    left: 0;
}

a.btn.btn-danger.position-absolute.btn-delete {
    right: 5px;
    margin: 0px auto;
    height: 35px;
    box-sizing: border-box;
    top: 4px;
}


.slick-slider.custom img{
    height: 400px;
    object-fit: contain;
}

.slick-slider img{
    height: 100% ;

}
.single-item {
    background: #fefefe;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.aside-product {
    background: #e9ecef;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #fefefe;
    height: auto;
}

.aside-product h2 {color: #494747;}

.aside-product h2::after {content: '';display: block;height: 2px;background: #5dc273;width: 40%;margin-top: 4px;}

.aside-product-desc {
    font-size: 15px;
    color: #494747;
    font-style: italic;
}

.aside-product-price {
    font-size: 30px;
    font-weight: bold;
}

.aside-product-desc::after {content: ' ';height: 1px;width: 100%;display: block;background: #fefefe;}
